@import "./Variables.module.scss";

.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}

@media (max-width: $width-for-media-medium) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
  }
}

@media (max-width: $width-for-media-smale) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, auto);
  }
}
